<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83bb8e">  <td>18/12/05 09:45:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionTest.TestTitle()[pri:0, instance:com.crmpro.test.RegressionTest@711f39f9]">TestTitle</td> 
  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="83bb8e">  <td>18/12/05 09:45:03</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegressionTest.closeBrowser()[pri:0, instance:com.crmpro.test.RegressionTest@711f39f9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
<tr bgcolor="83bb8e">  <td>18/12/05 09:44:51</td>   <td>-11714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegressionTest.openBrowser()[pri:0, instance:com.crmpro.test.RegressionTest@711f39f9]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@842326585</td>   <td></td> </tr>
</table>
